@import './variables.scss'; // import variables
@import './general.scss';

.contact {
    padding: 50px 0;
    height: 100vh;

    .container {
        width: 90%;
        max-width: 1200px;
        margin: 0 auto;
    }

    h2 {
        text-align: center;
        font-size: 2.5em;
        margin-bottom: 50px;
    }

    form {
        display: flex;
        flex-direction: column;
        gap: 20px;
        max-width: 500px;
        margin: 0 auto;

        .formGroup {
            label {
                display: block;
                margin-bottom: 10px;
            }

            input,
            textarea {
                width: 100%;
                padding: 10px;
                border: 1px solid $dark-color;
                border-radius: 5px;
            }

            textarea {
                resize: none;
            }
        }

        .btn {
            display: inline-block;
            background-color: $primary-color;
            color: $light-color;
            padding: 10px 20px;
            text-decoration: none;
            border-radius: 5px;
            transition: $transition;
            align-self: flex-end;

            &:hover {
                background-color: darken($primary-color, 10%);
            }
        }
    }

    .socialMediaLinks {
        display: flex;
        justify-content: center;
        gap: 20px;
        margin-top: 50px;

        a {
            color: $dark-color;
            transition: $transition;

            &:hover {
                color: darken($dark-color, 10%);
            }
        }
    }
}