* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: $font-family;
}

body {
    background-color: $light-color;
    color: $dark-color;
}

html {
    scroll-behavior: smooth;
}