@import './variables.scss'; // import variables

.home-container {
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 50px;
    text-align: center;
    margin-left: 2000px;
    //font-family: Pricedown;

    .buttonsWrapper {
        display: flex;
        gap: 20px; // Adjust this value as per your requirements
        flex-wrap: wrap;
        justify-content: center; // Center the buttons horizontally
    }
}
