.modalContainer {
    
    height: 650px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
  
.modalButton {
    margin: 10px;
    padding: 10px;
    border-radius: 5px;
    border: none;
    background-color: #008CBA;
    color: white;
    cursor: pointer;
}
  
.projectItem {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid #ddd;
    padding: 10px;
    margin-bottom: 10px;
}
  
.projectImage {
    width: 50px;
    height: 50px;
    object-fit: cover;
    margin-right: 10px;
}
  
.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #ffffff;
    padding: 20px;
    border-radius: 10px;
    max-height: 80%;
    overflow-y: auto;
}
  